.btn-req {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  width: 170px;
  height: 60px;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  background-color: #ffffff;
}

.container-flex {
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: #212353;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 65px;
  gap: 418px;
}
.header .nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 121px;
}
.header ul {
  display: flex;
  list-style-type: none;
  text-align: center;
}
.header ul li {
  display: flex;
  align-items: center;
  width: 100px;
  height: 49px;
}
.header ul li a {
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
}

.about-top {
  display: flex;
  margin-top: 130px;
  width: 645px;
  height: 464px;
}
.about-top .left .h1 {
  position: absolute;
  margin: 0px;
  padding: 0px;
  width: 645px;
  height: 184px;
  font-size: 80px;
  line-height: 88px;
  font-weight: 700;
}
.about-top .left .p1 {
  margin-top: 234px;
  width: 380px;
  height: 120px;
  font-weight: 500;
  font-size: 18px;
  line-height: 160%;
}
.about-top .left .btn-learn {
  border-radius: 50px;
  width: 170px;
  height: 60px;
  background-color: #9c69e2;
  color: #ffffff;
  border: none;
}
.about-top .right {
  margin-top: 86px;
}
.about-bot {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 100px;
  width: 1117px;
  height: 560px;
  background: rgba(240, 99, 184, 0.15);
  border-radius: 50px;
}
.about-bot .right-2 {
  margin: 125px auto;
  width: 475px;
  height: 310px;
}
.about-bot .right-2 .h2 {
  margin: 0px;
  padding: 0px;
  width: 475px;
  height: 100px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
.about-bot .right-2 .p2 {
  margin-top: 40px;
  width: 474px;
  height: 170px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}

.features {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 150px;
  width: 1138px;
}
.features .p4 {
  width: 220px;
  height: 160px;
  margin-left: 275px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #4b5d68;
}
.features .h3 {
  margin: 49px 70px 20px 274px;
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.features a {
  margin-left: 275px;
}
.features-head {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-right: 179px;
}
.features-head .h2 {
  margin: 0px;
  padding: 0px;
  width: 475px;
  height: 100px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
.features-head .p3 {
  margin-top: 50px;
  width: 584px;
  height: 58px;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
}
.features-foot {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 1138px;
  height: 796px;
}
.features-foot .a {
  background-image: url(/svg/features-bg-1.svg);
  background-repeat: no-repeat;
  height: 389px;
  width: 532px;
}
.features-foot .b {
  background-image: url(/svg/features-bg-2.svg);
  background-repeat: no-repeat;
  height: 395px;
  width: 545px;
  color: #212353;
}
.features-foot .c {
  background: url(/svg/features-bg-3.svg);
  background-repeat: no-repeat;
  height: 359px;
  width: 551px;
}
.features-foot .d {
  background-image: url(/svg/features-bg-4.svg);
  background-repeat: no-repeat;
  height: 365px;
  width: 540px;
}

.carousel {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #9c69e2;
  margin-right: 240px;
  margin-top: 150px;
  border-radius: 50px;
  width: 1118px;
  height: 709px;
}
.carousel-head {
  display: flex;
  align-items: flex-end;
  padding-left: 93px;
  height: 161px;
}
.carousel-head .h2 {
  width: 405px;
  height: 52px;
  color: #ffffff;
  margin: 0px;
  padding: 0px;
  width: 475px;
  height: 100px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
.carousel-slider {
  display: flex;
  justify-content: center;
  margin: 0;
}
.carousel-slider .slide {
  margin: 0;
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 50px;
  width: 645px;
  height: 330px;
}
.carousel-slider .slide .photo-img {
  width: 90px;
  height: 90px;
  margin: 60px 30px 180px 70px;
  border: 1px solid blue;
  border-radius: 50%;
}
.carousel-slider .slide .text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 485px;
}
.carousel-slider .slide .text .h3 {
  margin: 49px 70px 20px 274px;
  width: 200px;
  height: 50px;
  font-weight: 400;
  font-size: 24px;
  line-height: 31px;
}
.carousel-slider .slide .text a {
  margin: 0;
  width: 101px;
  height: 22px;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  color: #9C69E2;
}
.carousel-slider .slide .text p {
  margin: 0;
  width: 385px;
  height: 130px;
  font-weight: 400;
  font-size: 18px;
  line-height: 32px;
  color: #4B5D68;
}

.footer {
  display: flex;
  flex-direction: column;
}
.footer-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 100px;
}
.footer-header .h2 {
  margin: 0px;
  padding: 0px;
  width: 475px;
  height: 100px;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
}
.footer-header .f-h-p {
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  color: #4b5d68;
}
.footer-header-end {
  display: flex;
  gap: 30px;
}
.footer-header-end .btn-learn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  width: 170px;
  height: 60px;
  background-color: #9c69e2;
  color: #ffffff;
  border: none;
}
.footer-header-end .btn-req {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 50px;
  width: 170px;
  height: 60px;
  font-weight: 800;
  font-size: 16px;
  line-height: 160%;
  color: #212353;
  background-color: #ffffff;
}
.footer-mid {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 150px;
}
.footer-mid-tanitim {
  display: flex;
  flex-direction: column;
  gap: 60px;
}
.footer-mid-tanitim-logo {
  display: flex;
  gap: 20px;
}
.footer-mid-tanitim-logo .h2 {
  font-weight: 900;
  font-size: 20px;
  line-height: 32px;
  color: #212353;
}
.footer-mid-tanitim-ai {
  display: flex;
  flex-direction: column;
}
.footer-mid-tanitim-ai p {
  width: 335px;
  height: 65px;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  letter-spacing: 0.01em;
  color: #212353;
}
.footer-mid-about {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.footer-mid-about ul {
  list-style-type: none;
  padding: 0;
}
.footer-mid-about a {
  width: 166px;
  height: 30px;
  font-weight: 400;
  font-size: 16px;
  line-height: 48px;
  color: #212353;
}
.footer-mid-about .baslik {
  width: 166px;
  height: 30px;
  font-weight: 900;
  font-size: 16px;
  line-height: 48px;
  color: #212353;
}
.footer-foot {
  display: flex;
  justify-content: space-between;
}
.footer-foot p {
  width: 360px;
  height: 50px;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.01em;
  color: #212353;
}/*# sourceMappingURL=main-css.css.map */